<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>Hell World.</h1>
    
    <form action="/newtodo" method='POST'>
        <input name='newItem'> enter <br>
        <button type='submit'>Submit lol</button>
    </form>

    <ul>
        <% for (var i=0; i<toDoList.length; i++) { %>
            <%= toDoList[i] %> <br>
        <% } %>
    </ul>

</body>
</html>